* {
    margin: 0;
    padding: 0;
    font-family: 'MinecraftiaRegular'; 
}

.witam {
    font-family: 'Minecraft', sans-serif;
}
/* ---- PAGES ----- */

/* MAIN PAGE */ 

/* ---- SECTIONS ---- */

/* -- LANDING PAGE -- */

.landingPage {
    height: 100vh;
    width: 100vw;
   
    
}

.landingImage {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background-image: url("./images/landing.jpg");
    filter: blur(6px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -99;


    /* border: 3px solid red; */
}

/* --- GMINA LOGO === */ 

.landingContent {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8% 0 0 0;

}

/* --- LANDING YELLOW CLIP --- */

.landingTilt {
    color: rgb(255, 242, 0);
    text-shadow: 2px 2px black;
    margin-left: 57%;
    margin-top: -10%;
    transform: rotate(-27deg);
    font-size: 20px;
   
}

.landingClip {
    animation: heartBeat 0.5s infinite;
    /* border: 2px solid blue; */
    position: fixed;

}

@keyframes heartBeat {
    from {
        transform: scale(1);
    
    }
    50% {
        transform: scale(1.1);

    }
}


/* --- MENU --- */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid pink; */
    width: 40%;
    height: auto;
    margin-left: 30%;
    margin-top: 15%;
}

.menu, a:link {
    color: white;
    text-decoration: none;
    
}



.menu, a:visited {
    color: white;
    text-decoration: none;
    
}

/* --- MENU BUTTONS --- */


.menuButtons {
    font-size: 25px;
    width: 100%;
    padding: 0.7rem;
    color: white;
    text-shadow: 3px 3px black;
    background-color: grey;
    margin: 2%;
    border: 2px solid black;
}

.menuButtons:hover {
    border: 2px solid white;
    cursor: pointer;
}
.buttonLink {
    width: 100%;
 }

 .languageIcon {
     width: 50px;
     height: 50px;
     padding: 0;
     margin: -4.7% 0 10% 26%;
     z-index: 100;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .languageImg {
     width: 35px;
     height: 35px;
     
 }

/* --- FOOTER --- */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-shadow: 3px 3px black;
    font-size: 120%;
    margin: 1rem 10px 0 10px;

}
/* MULTIPLAYER PAGE */

/* ---- SECTIONS ---- */

/* ---- Multipage ---- */

.multiPage {
    height: 100vh;
    width: 100vw;
   
    
}

.multiImage {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/dirt.jpg");
    filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: -99;


    /* border: 3px solid red; */
}

.welcomeText {
    position: static;
    margin: 8rem 0 1rem 0;
}

.multiWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
   width: 100%;
   height: 80%;
   
}
.multiContent {
    display: flex;
    justify-content: center;
    /* border: 2px solid white; */
    color: white;
    text-shadow: 3px 3px black;
    margin-bottom: 10px;
    position: static;
   
}

/* --- season info --- */

.seasonInfo {
    
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
    width: 100%;
    min-height: 90%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
   
  
}

.seasonBox {
    min-width: 60%;
    max-width: 60%;
    min-height: 120px;
    max-height: 120px;
    border: 1px solid rgb(206, 206, 206);
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding: 0 10px 0 10px;

}

.seasonHead {
    font-size: 130%;
    margin-top: 10px;
    
}

.seasonBox:hover {
    cursor: pointer;
}

.seasonDescribtion {
    margin-top: 30px;
    color: rgb(194, 194, 194);
    font-size: 120%;
    width: auto;
    /* border: 2px solid pink; */
    text-align: start;
    
    
}

.seasonColumns {
    width: 50%;
/* border: 2px solid blue; */
display: flex;
flex-direction: column;
}

.playerCount {
    /* border: 2px solid white; */

    height: 100%;
    font-size: 130%;
/* border: 2px solid yellow; */
margin-top: 10px;
    
}
.liveSeason {
    color: rgb(5, 250, 5);
    display: inline;
}



.statusBox {
    /* border: 2px solid white; */
    display: flex;
    width: 20%;
    align-self: center;
    margin-left: 20rem;

}

.serverStatus {
    /* border: 2px solid white; */

    height: 100%;
    /* border: 2px solid red; */
    margin-left: 2rem;
}

.serverIcon {
    width: 50px;
    height: 50px;
}

/* MULTI BUTTONS */

.multiButtons {
    display: flex;
    flex-direction: row;
   justify-content: center;

    /* border: 2px solid red; */
}

.multiButton {
    font-size: 25px;
    width: 300px;
    padding: 0.7rem;
    color: white;
    text-shadow: 3px 3px black;
    background-color: grey;
    margin: 2%;
    border: 2px solid black;
}

.multiButton:hover {
    border: 2px solid white;
    cursor: pointer;
}

.leftButton {
    margin-right:5rem;

}
.rightButton {
    margin-right: 3rem;
}

/* ---- ABOUT GMINARP ---- */

.aboutH1 {
    /* font-family: 'Minecraft', sans-serif; */
    font-size: 60px;
    text-shadow: 3px white;
}

/* --- navigation bar --- */

.navi {
    width: 100%;
    height: 100px;
    background-image: url(./images/landing.jpg);
    background-position: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    border: 2px solid black;
    box-shadow: 0 0 2px 0;
}

.logoGmina {
    /* border: 2px solid green; */
    width: 300px;
    height: auto;
    margin: 1% 0 0 5%;
}

.logoImg {
    width: 300px;
    height: 70px;
}

.naviButton {
    /* border: 2px solid pink; */
    margin: 0.8% 5% 0 0;
    
}

.pusher {
    height: 100px;
    width: 100%;
}

.landingSection {
    width: 100vw;
    height: 100vh;
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headerRow {
    width: 100%;
    height: auto;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: center;
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
}

.headerContent {
    flex-wrap: wrap;
    padding: 2rem;
    width: 70%;
    height: auto;
    text-align: center;
    /* border: 3px solid green; */
}

.gallery {
    width: 100vw;
    height: 120vh;
    /* border: 2px solid red; */
    background-image: url(./images/oni.jpeg);
}

.gallery2 {
    width: 100vw;
    height: 120vh;
    /* border: 2px solid red; */
    background-image: url(./images/gallery2.jpeg);
    background-size: cover;
}

.gallery3 {
    width: 100vw;
    height: 120vh;
    /* border: 2px solid red; */
    background-image: url(./images/gallery3.jpeg);
    background-size: cover;
}

.sectionButton {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

/* ----- JOIN PAGE ----- */


.gallery4 {
    width: 100vw;
    height: 120vh;
    /* border: 2px solid red; */
    background-image: url(./images/gallery4.jpeg);
    background-size: cover;
}


/* quiz section */

.quizDiv {
    height: 60vh;
    width: 100%;
}
.quizBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quiz {
border: 2px solid pink;
}
#quizSubmit {


}

/* ---- RULES PRAWO GMINNE ---- */
.rulesHead {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.playerFunction {
    color: gold;
}


/* --- season 1 page --- */

.s1Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/s1gallery.jpeg);
    background-size: cover;
}

.sesCon {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.s1Gallery2 {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/raid.png);
    background-size: cover;

}

/* --- season 2 page --- */

.s2Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/wtc.png);
    background-size: cover;

}

/* --- season 3 page --- */

.s3Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/budowa.png);
    background-size: cover;

}


/* --- season 4 page --- */

.s4Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/smokarozjebanie.jpeg);
    background-size: cover;
}

/* --- season 5 page --- */

.s5Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/ufo.jpeg);
    background-size: cover;
}

/* --- season 6 page --- */

.s6Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/bank.jpeg);
    background-size: cover;
}

/* --- season 7 page --- */

.s7Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/andrzej.jpeg);
    background-size: cover;
}




/* --- season 8 page --- */

.s8Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/s8gallery.png);
    background-size: cover;
}


/* --- season 9 page --- */

.s9Gallery {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/deepdark.jpeg);
    background-size: cover;
}

/* == season characters -- */

.characterOnline {
    /* border: 2px solid blue; */
    width: 300px;
    height: 400px;

}

.edmundImg {
    width: 150px;
}

.groobeachImg {
    width: 190px;
}

.mateboImg {
    width: 180px;
}

.andrzejImg {
    width: 160px;
}




/* ---- LOADING PAGE ---- */

.loaderMain {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/loader.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loaderText {
    color: white;
    text-shadow: 3px 3px black;
    font-size: 30px;
}

#pageLoader {
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url(./images/loader.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}

/* --- MODAL WINDOW FOR SEASONS ON ESCAPE --- */

#modalEscape {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
 

    /* border: 2px solid blue; */
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    /* border:2px solid red; */
}

.modalMenu {
    /* border: 2px solid red; */
    width: 80%;

}